h1{
  color: white;
  padding: 20px 0px;
  text-align: center;
}

body{ 
  background-image: url(../images/darkness.png);
  
}

.instructions {
  margin-bottom: 50px;
  color: white;
  background-color: rgb(26, 169, 226);
  width: 95%;
  padding: 1ex
}

#randomNumber{
  padding: 40px 20px 40px 20px;
  text-align: center;
  font-size: 6ex;
  color: white;
  background-color: rgb(236, 102, 13);
}

#winLoseBox{
  padding: 14px 20px 14px 20px;
  color: white;
  background-color: green;
}

#scoreIs{
  padding: 52px 20px;
  text-align: center;
  font-size: 2.5ex;
  color: white;
  background-color: rgb(236, 13, 13);
}
#scoreBox{
  padding: 30px;
  text-align: center;
  font-size: 6ex;
  color: white;
  background-color: rgb(236, 13, 13);
}

img{
  margin: 20px 0px;
  align-content: center;
  width: 100%;

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

