h1{
  text-align: center;
}

.instructions {
  color: white;
  background-color: rgb(26, 169, 226);
  width: 90%;
  padding: 1ex
}

#randomNumber{
  padding: 40px 20px 40px 20px;
  text-align: center;
  font-size: 6ex;
  color: white;
  background-color: rgb(236, 102, 13);
}

#winLoseBox{
  padding: 10px 20px 20px 20px;
  color: white;
  background-color: green;
}
