h1{
  color: white;
  padding: 20px 0px;
  text-align: center;
}

body{ 
  background-image: url(../images/darkness.png);
  
}

.instructions {
  margin-bottom: 50px;
  color: white;
  background-color: rgb(26, 169, 226);
  width: 90%;
  padding: 1ex
}

#randomNumber{
  padding: 40px 20px 40px 20px;
  text-align: center;
  font-size: 6ex;
  color: white;
  background-color: rgb(236, 102, 13);
}

#winLoseBox{
  padding: 14px 20px 14px 20px;
  color: white;
  background-color: green;
}

#scoreIs{
  padding: 42px 20px;
  text-align: center;
  font-size: 2.5ex;
  color: white;
  background-color: rgb(236, 13, 13);
}
#scoreBox{
  padding: 20px;
  text-align: center;
  font-size: 6ex;
  color: white;
  background-color: rgb(236, 13, 13);
}

img{
  align-content: center;
  width: 100%;
}
